// style for the landing page

.register-page,
.section.section-signup {

  .squares,
  .square {
    @include linear-gradient($primary-states, $primary);
  }
}


.index-page {
  .page-header {
    height: 100vh;

    .container {
      >.content-center {
        &.brand {

          .h1-seo,
          h3 {
            line-height: 110%;
            color: $white;
            font-weight: 600;
            text-transform: capitalize;

            span {
              font-weight: $font-weight-bold;
            }
          }
        }
      }
    }

    .category-absolute {
      position: absolute;
      top: 100vh;
      margin-top: -60px;
      padding: 0 15px;
      width: 100%;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .squares {
    @include linear-gradient($info-states, $info);
    animation: move-left-right 1s infinite;
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 20%;

    &.square1 {
      animation: move-left-right 4s infinite;
      height: 300px;
      width: 300px;
      opacity: 0.5;
      left: 3%;
      top: -21%;
    }

    &.square2 {
      animation: move-left-right 6s infinite;
      height: 400px;
      width: 400px;
      opacity: 0.4;
      right: -5%;
      top: -12%;
    }

    &.square3 {
      animation: move-left-right 5s infinite;
      height: 200px;
      width: 200px;
      opacity: 0.1;
      left: -5%;
      bottom: 0%;
    }

    &.square4 {
      animation: move-left-right 10s infinite;
      height: 100px;
      width: 100px;
      opacity: 0.9;
      right: 27%;
      top: 70%;
    }

    &.square5 {
      animation: move-left-right 6s infinite;
      height: 250px;
      width: 250px;
      opacity: 0.1;
      left: 32%;
      bottom: 29%;
    }

    &.square6 {
      animation: move-left-right 9s infinite;
      left: 10%;
      top: 35%;
      height: 80px;
      width: 80px;
      opacity: 0.8;
    }

    &.square7 {
      animation: move-left-right 3s infinite;
      width: 300px;
      height: 300px;
      right: -5%;
      bottom: 0%;
      opacity: 0.1;
    }
  }

}

.confirm-table {
  .btn-remove-file {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    box-shadow: none;
    border: none;
    vertical-align: middle;

    .icon-simple-remove {
      color: #FFF;
      transform: scale(0.7);
    }
  }

  .tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 70px;

    .tab {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 2px;
      color: $default;
      padding: auto;
      padding: 8px 15px;
      background-color: $default-color-opacity;
      cursor: pointer;
      height: 40px;
      transition: all 0.2s ease-in-out;

      &:hover {
        height: 50px;
      }
    }

    .tabActive {
      background-color: $default;
      color: #FFF;
    }

  }

  .tab-detail {
    border: 1px solid $default;
  }


  th,
  td {
    color: #000 !important;
    padding: 3px !important;
    border-bottom: 1px solid rgb(153, 153, 153) !important;
  }

  td {
    
    .bill-value {
        height: 30px;
        width: 350px;
        overflow: hidden;
      }
      .bill-value-pnk {
        height: 30px;
        width: auto;
        overflow: hidden;
      }
  }

  th {
    padding: 5px !important;
    font-size: 16px !important;
  }

  tr {
    &:last-child>td {
      border-bottom: 0 !important;
    }
  }
}

@media screen and (max-width: 1200px) {

  .confirm-table {
    td {
      .bill-value {
        width: 200px;
      }
    }
  }
}

// style for the profile page
.profile-page {
  overflow-x: hidden;

  .page-header {
    min-height: 550px;

    .container {
      padding-top: 30vh;
    }

    .path {
      max-width: 65%;
      right: 0;
      top: 100px;
    }
  }

  .info {
    padding: 40px 0 0;

    .description {
      text-align: left;
      padding-left: 20px;
    }
  }

  .profile-title {
    position: absolute;
    top: 110px;
    left: 60px;
  }

  .profile-description {
    margin-top: -30px;
    max-width: 450px;
    font-size: $font-size-base;
    line-height: 26px;
  }

  .profile-container {
    color: $white;
  }

  .photo-container {
    max-width: 400px;
    overflow: hidden;
    -webkit-box-shadow: -15px 20px 60px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -15px 20px 60px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -15px 20px 60px 0px rgba(0, 0, 0, 0.3);
  }

  .title {
    text-align: center;
    margin-top: 30px;
  }

  .description,
  .category {
    text-align: center;
  }

  h5.description {
    max-width: 700px;
    margin: 20px auto 75px;
  }

  .nav-align-center {
    margin-top: 30px;
  }

  .content {
    .social-description {
      display: inline-block;
      max-width: 150px;
      width: 145px;
      text-align: center;
      margin: 15px 0 0px;

      h2 {
        margin-bottom: 15px;
      }
    }
  }

  .collections {
    img {
      margin-bottom: 30px;
    }
  }

  .gallery {
    margin-top: 45px;
    padding-bottom: 50px;
  }

  .card-coin {
    .list-group {
      margin: 0 !important;
      text-align: left !important;
      color: $opacity-5;
    }
  }

  .card {
    .card-header {
      .profile-title {
        top: 125px;
      }
    }
  }
}

.register-page {
  background-color: $background-black;

  .link {
    font-size: 10px;
    color: $white;
    text-decoration: none;
  }

  .register-bg {
    height: 700px;
    background: linear-gradient(to bottom, $transparent-bg 0%, $card-black-background 100%);
    width: 700px;
    position: relative;
    right: -600px;
    top: -750px;
    border-radius: 20%;
    transform: rotate(-15deg);
  }

  .square {
    position: absolute;
    transition: 0.5s ease-out;
    border-radius: 2px;
    background-size: 100%;
    border-radius: 20%;
  }

  .square-1 {
    height: 300px;
    width: 300px;
    background-image: url("../" +$asset-base-path + "/img/square1.png");
    top: 175px;
    right: 150px;
    opacity: 0.8;
  }

  .square-2 {
    height: 120px;
    width: 120px;
    background-image: url("../" +$asset-base-path + "/img/square2.png");
    opacity: 0.9;
    top: 310px;
    right: 390px;
  }

  .square-3 {
    width: 200px;
    height: 200px;
    background-image: url("../" +$asset-base-path + "/img/square3.png");
    opacity: 0.3;
    top: -50px;
    right: 400px;
  }

  .square-4 {
    height: 200px;
    width: 200px;
    background-image: url("../" +$asset-base-path + "/img/square4.png");
    right: -50px;
    top: 525px;
  }

  .square-5 {
    height: 150px;
    width: 150px;
    background-image: url("../" +$asset-base-path + "/img/square5.png");
    opacity: 0.5;
    top: 500px;
    right: 470px;
  }

  .square-6 {
    height: 70px;
    width: 70px;
    background-image: url("../" +$asset-base-path + "/img/square5.png");
    opacity: 0.9;
    top: 105px;
    right: 20px;
  }

  .square-7 {
    height: 200px;
    width: 200px;
    background-image: url("../" +$asset-base-path + "/img/square5.png");
    left: -100px;
    top: 100px;
    opacity: 0.4;
  }

  .square-8 {
    height: 100px;
    width: 100px;
    background-image: url("../" +$asset-base-path + "/img/square1.png");
    left: 300px;
    top: 400px;
    opacity: 0.4;
  }
}

.index-page,
.landing-page,
.profile-page,
.register-page {
  background-image: url("../" +$asset-base-path + "/img/dots.png");
  background-size: contain;
}

@include media-breakpoint-down(md) {
  .section:nth-of-type(2) {
    .path {
      left: 10% !important;
    }

    .path2 {
      left: 20% !important;
    }
  }

  .info:first-of-type {
    padding-top: 10% !important;
  }
}

@include media-breakpoint-down(sm) {
  .card-login img {
    width: 70%;
  }

  .section:nth-of-type(2) {

    .path,
    .path2 {
      left: 0 !important;
    }
  }

  .section-coins {
    margin-top: 0 !important;
  }
}

@include media-breakpoint-down(xs) {
  .card-login {
    margin-top: 100px;

    img {
      width: 350px;
    }
  }

  .profile-page .page-header {
    max-height: unset;
  }

  .landing-page {
    .page-header {
      h1 {
        margin-top: 100px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .info:first-of-type {
    padding-top: 60%;
  }
}